.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #353535;
    z-index: 999999;
    position: absolute;
    top: 48%;
    left: 48%;
}
.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
}
