@font-face {
   font-family: 'SFUIDisplay-Light';
   font-display: swap;
   src: url('file:///C:/Users/Jasiel/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-12_171303/fonts/SFUIDisplay-Light/font.ttf');
}
